body {
  background-color: #e8ffff;
}

h1 {
  color: #66bfbf;
}

h3 {
  color: #66bfbf;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: lightgray;
  width: 10%;
}
